@model MsgBoard.ViewModel.Member.MemberLoginViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <hr />

        @{
            var errors = ViewData.ModelState.Where(n => n.Value.Errors.Count > 0).ToList();
            foreach (var currectError in errors)
            {

                <p name="errMsg" class="alert bg-danger alert-dismissible fade in">
                    @(currectError.Value.Errors.FirstOrDefault()?.ErrorMessage)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>
            }
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("返回", "Index", "Post", null, new { @class = "btn btn-default" })

                <input type="submit" value="登入" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/js/Member/Login.js?@(Guid.NewGuid())"></script>
}