@model MsgBoard.Models.Dto.UserLoginResult

<ul class="nav navbar-nav">
    <li class="navbar-text"><img height="17" src="@Url.Content(Model.User.Pic)" /></li>
    <li class="navbar-text">@Model.User.Name (@Model.User.Id)</li>
    <li class="navbar-text">已發布：xx</li>
    <li class="navbar-text">已回覆：xx</li>
    <li>@Html.ActionLink("修改", "Update", "Member", new { id = Model.User.Id }, null)</li>
    <li>@Html.ActionLink("登出", "LogOut", "Member")</li>
    @{
        if (Model.User.IsAdmin)
        {
            <li>@Html.ActionLink("後台", "Index", "Admin")</li>
        }
    }
</ul>