@using MsgBoard.Models.Dto

<ul class="nav navbar-nav">
    <li class="navbar-text"><img height="17" src="@Url.Content(SignInUser.User.Pic)" /></li>
    <li class="navbar-text">@SignInUser.User.Name</li>
    <li class="navbar-text">已發布：xx</li>
    <li class="navbar-text">已回覆：xx</li>
    <li>@Html.ActionLink("修改", "Update", "Member", new { id = SignInUser.User.Id }, null)</li>
    <li>@Html.ActionLink("登出", "LogOut", "Member")</li>
    @{
        if (SignInUser.User.IsAdmin)
        {
            <li>@Html.ActionLink("後台", "Index", "Admin")</li>
        }
    }
</ul>