@using MsgBoard.Helper
@using PagedList.Mvc;
@using PagedList;

@model IEnumerable<MsgBoard.ViewModel.Admin.AdminIndexViewModel>

<h2>使用者列表</h2>

<table class="table">
    <tr>
        <th class="col-md-1">
            #
        </th>
        <th class="col-md-9">
        </th>
        <th class="col-md-2"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowId)
            </td>
            <td>
                <div>
                    <div class="col-md-2">
                        <img src="@Url.Content(item.Pic)" height="30px" />
                    </div>
                    <div class="col-md-10">
                        <span>@Html.DisplayFor(modelItem => item.Name)</span>
                        @{
                            Html.CreateTag(item.IsAdmin, "Admin");
                            Html.CreateTag(item.IsDel, "停權");
                        }
                        <br />
                        @Html.DisplayFor(modelItem => item.Mail)
                    </div>
                </div>
            </td>
            <td>
                @(item.IsDel ? Html.ActionLink("Enable", "Enable", "Member", new { id = item.Id }, new { @class = "btn btn-sm btn-default" }) : Html.ActionLink("Disable", "Disable", "Member", new { id = item.Id }, new { @class = "btn btn-sm btn-default" }))
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-default" })
            </td>
        </tr>

    }
</table>
@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))